In [107]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [114]:
url="https://fr.wikipedia.org/wiki/Championnat_d%27Europe_de_football_2020"
page= requests.get(url)
content = page.text
soup = BeautifulSoup(content, 'lxml')

In [115]:
divv = soup.find('div', class_='mw-content-ltr mw-parser-output')

In [116]:
matches=divv.find_all('table', class_=lambda x: x is None)
len(matches)

61

In [117]:
matches4=[matches[i] for i in range(4, 40)]

In [119]:
home_team=[]
score=[]
away_team=[]
for match in matches4:
    try:
        home_team.append(match.find_all('td')[1].find('a').text.strip())
        score.append(match.find_all('td')[2].find('b').text.strip())
        
        away_team.append(match.find_all('td')[3].find_all('a')[1].text.strip())
    except:
        pass
matches1={'home_team':home_team, 'score':score, 'away_team':away_team}
df=pd.DataFrame(matches1)

In [120]:
df

            home_team  score          away_team
0             Turquie  0 - 3             Italie
1      Pays de Galles  1 - 1             Suisse
2             Turquie  0 - 2     Pays de Galles
3              Italie  3 - 0             Suisse
4              Italie  1 - 0     Pays de Galles
5              Suisse  3 - 1            Turquie
6            Danemark  0 - 1           Finlande
7            Belgique  3 - 0             Russie
8            Finlande  0 - 1             Russie
9            Danemark  1 - 2           Belgique
10             Russie  1 - 4           Danemark
11           Finlande  0 - 2           Belgique
12           Autriche  3 - 1  Macédoine du Nord
13           Pays-Bas  3 - 2            Ukraine
14            Ukraine  2 - 1  Macédoine du Nord
15           Pays-Bas  2 - 0           Autriche
16  Macédoine du Nord  0 - 3           Pays-Bas
17            Ukraine  0 - 1           Autriche
18         Angleterre  1 - 0            Croatie
19             Écosse  0 - 2           Tchéquie
20            Croatie  1 - 1           Tchéquie
21         Angleterre  0 - 0             Écosse
22           Tchéquie  0 - 1         Angleterre
23            Croatie  3 - 1             Écosse
24            Pologne  1 - 2          Slovaquie
25            Espagne  0 - 0              Suède
26              Suède  1 - 0          Slovaquie
27            Espagne  1 - 1            Pologne
28              Suède  3 - 2            Pologne
29          Slovaquie  0 - 5            Espagne
30            Hongrie  0 - 3           Portugal
31             France  1 - 0          Allemagne
32            Hongrie  1 - 1             France
33           Portugal  2 - 4          Allemagne
34           Portugal  2 - 2             France
35          Allemagne  2 - 2            Hongrie

In [121]:
matches5=[matches[i] for i in range(41, 56)]

In [122]:
home_team1=[]
score1=[]
away_team1=[]
for match in matches5:
    try:
        home_team1.append(match.find_all('td')[1].find('a').text.strip())
        score1.append(match.find_all('td')[2].find('b').text.strip().replace('a. p.',''))
        away_team1.append(match.find_all('td')[3].find_all('a')[1].text.strip())
    except:
        pass
matches2={'home_team':home_team1, 'score':score1, 'away_team':away_team1}
df2=pd.DataFrame(matches2)

In [123]:
df2

         home_team   score   away_team
0   Pays de Galles   0 - 4    Danemark
1           Italie  2 - 1     Autriche
2         Pays-Bas   0 - 2    Tchéquie
3         Belgique   1 - 0    Portugal
4          Croatie  3 - 5      Espagne
5           France  3 - 3       Suisse
6       Angleterre   2 - 0   Allemagne
7            Suède  1 - 2      Ukraine
8           Suisse  1 - 1      Espagne
9         Belgique   1 - 2      Italie
10        Tchéquie   1 - 2    Danemark
11         Ukraine   0 - 4  Angleterre
12          Italie  1 - 1      Espagne
13      Angleterre  2 - 1     Danemark
14          Italie  1 - 1   Angleterre

In [124]:
result_df = pd.concat([df, df2], ignore_index=True)
result_df

            home_team   score          away_team
0             Turquie   0 - 3             Italie
1      Pays de Galles   1 - 1             Suisse
2             Turquie   0 - 2     Pays de Galles
3              Italie   3 - 0             Suisse
4              Italie   1 - 0     Pays de Galles
5              Suisse   3 - 1            Turquie
6            Danemark   0 - 1           Finlande
7            Belgique   3 - 0             Russie
8            Finlande   0 - 1             Russie
9            Danemark   1 - 2           Belgique
10             Russie   1 - 4           Danemark
11           Finlande   0 - 2           Belgique
12           Autriche   3 - 1  Macédoine du Nord
13           Pays-Bas   3 - 2            Ukraine
14            Ukraine   2 - 1  Macédoine du Nord
15           Pays-Bas   2 - 0           Autriche
16  Macédoine du Nord   0 - 3           Pays-Bas
17            Ukraine   0 - 1           Autriche
18         Angleterre   1 - 0            Croatie
19             Écosse   0 - 2           Tchéquie
20            Croatie   1 - 1           Tchéquie
21         Angleterre   0 - 0             Écosse
22           Tchéquie   0 - 1         Angleterre
23            Croatie   3 - 1             Écosse
24            Pologne   1 - 2          Slovaquie
25            Espagne   0 - 0              Suède
26              Suède   1 - 0          Slovaquie
27            Espagne   1 - 1            Pologne
28              Suède   3 - 2            Pologne
29          Slovaquie   0 - 5            Espagne
30            Hongrie   0 - 3           Portugal
31             France   1 - 0          Allemagne
32            Hongrie   1 - 1             France
33           Portugal   2 - 4          Allemagne
34           Portugal   2 - 2             France
35          Allemagne   2 - 2            Hongrie
36     Pays de Galles   0 - 4           Danemark
37             Italie  2 - 1            Autriche
38           Pays-Bas   0 - 2           Tchéquie
39           Belgique   1 - 0           Portugal
40            Croatie  3 - 5             Espagne
41             France  3 - 3              Suisse
42         Angleterre   2 - 0          Allemagne
43              Suède  1 - 2             Ukraine
44             Suisse  1 - 1             Espagne
45           Belgique   1 - 2             Italie
46           Tchéquie   1 - 2           Danemark
47            Ukraine   0 - 4         Angleterre
48             Italie  1 - 1             Espagne
49         Angleterre  2 - 1            Danemark
50             Italie  1 - 1          Angleterre