In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
def get_trans(page):
    url=f"https://www.transfermarkt.com/statistik/saisontransfers?ajax=yw0&page={page}"
    headers= {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36",
                  "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1",
                  "Connection":"close", "Upgrade-Insecure-Requests":"100"}
    page= requests.get(url, headers= headers)
    soup= BeautifulSoup(page.content, 'html.parser')
    table = soup.find('table', class_='items')
    rows = table.find_all('tr', class_=['odd', 'even'])
    players=[]
    posts=[]
    ages=[]
    market_values=[]
    nats=[]
    joineds=[]
    leagues=[]
    fees=[]
    for row in rows:
        player=row.find_all('td')[1].find('a').text
        post=row.find_all('tr')[1].find('td').text
        age=row.find_all('td')[5].text
        market_value=row.find_all('td')[6].text.replace('€', '').strip()
        nat=row.find_all('td')[7].find('img')['alt']
        joined=row.find_all('td')[8].find_all('a')[0]['title']
        legue=row.find_all('td')[8].find_all('a')[2]['title']
        fee=row.find_all('td')[12].text.replace('€', '').strip()
        players.append(player)
        posts.append(post)
        ages.append(age)
        market_values.append(market_value)
        nats.append(nat)
        joineds.append(joined)
        leagues.append(legue)
        fees.append(fee)
    trans={"player":players, "post":posts, "age":ages, "market_value":market_values, "nat":nats, "joined":joineds, "league":leagues, "fee":fees}
    return pd.DataFrame(trans)

In [4]:
df = [get_trans(i) for i in range(1,10)]
df=pd.concat(df)
df.index = range(1, len(df) + 1)
df

,player,post,age,market_value,nat,joined,league,fee
1,Jude Bellingham,Attacking Midfield,20,120.00m,England,Real Madrid,LaLiga,103.00m
2,Declan Rice,Defensive Midfield,24,90.00m,England,Arsenal FC,Premier League,116.60m
3,Moisés Caicedo,Defensive Midfield,21,75.00m,Ecuador,Chelsea FC,Premier League,116.00m
4,Harry Kane,Centre-Forward,30,90.00m,England,Bayern Munich,Bundesliga,95.00m
5,Randal Kolo Muani,Centre-Forward,24,80.00m,France,Paris Saint-Germain,Ligue 1,95.00m
...,...,...,...,...,...,...,...,...
221,Nikola Vlasic,Attacking Midfield,25,17.00m,Croatia,Torino FC,Serie A,12.80m
222,Nicolás Domínguez,Central Midfield,25,17.00m,Argentina,Nottingham Forest,Premier League,10.00m
223,Pablo Fornals,Attacking Midfield,27,17.00m,Spain,Real Betis Balompié,LaLiga,8.00m
224,Timo Werner,Centre-Forward,27,17.00m,Germany,Tottenham Hotspur,Premier League,loan transfer
225,Aaron Ramsey,Attacking Midfield,20,5.00m,England,Burnley FC,Premier League,16.45m

In [7]:
df.keys()

Index(['player', 'post', 'age', 'market_value', 'nat', 'joined', 'league',
       'fee'],
      dtype='object')

In [5]:
df.to_csv('players', index=False)