In [1]:
import requests
from bs4 import BeautifulSoup, Comment
import pandas as pd

In [2]:
def get_page(page):
    url=f"https://wuzzuf.net/a/Experienced-Jobs-in-Egypt?filters%5Bcountry%5D%5B0%5D=Egypt&start={page}"
    page= requests.get(url)
    soup= BeautifulSoup(page.content, 'html.parser')
    list_emp=soup.find_all("div", class_="css-pkv5jc")
    Job_titles=[]
    Companys=[]
    Locations=[]
    Descriptions=[]
    Tags=[]
    for emp in list_emp:
        try:
            Job_titles.append(emp.find('h2', class_='css-m604qf').text)
            Companys.append(emp.find('div', class_='css-d7j1kk').find('a').get_text().replace('-', '').strip())
            Locations.append(emp.find('div', class_='css-d7j1kk').find('span').get_text())
            Descriptions.append(emp.find('div', class_='css-y4udm8').find_all('div')[1].text)
            liste=[]
            for i in range(len(emp.find('div', class_='css-y4udm8').find_all(class_='css-n2jc4m'))):
                liste.append(emp.find('div', class_='css-y4udm8').find_all(class_='css-n2jc4m')[i].text)
            if emp.find('div', class_='css-y4udm8').find(class_='css-o1vzmt eoyjyou0'):
                liste.append(emp.find('div', class_='css-y4udm8').find(class_='css-o1vzmt eoyjyou0').text)
            Tags.append(liste)
        except Exception as e:
            print(print(f"An unexpected error occurred: {e}"))
    Jobs={"Job_title":Job_titles, "Company":Companys, "Location":Locations, "Description": Descriptions, "Tag":Tags}
    return pd.DataFrame(Jobs)

In [45]:
df = [get_page(i) for i in range(1,10)]
df=pd.concat(df)
df.index = range(1, len(df) + 1)
df

,Job_title,Company,Location,Description,Tag
1,Retail Sales Representative - Sheraton,Obsession Boutique,"Sheraton, Cairo, Egypt",Experienced · 2+ Yrs of Exp · Customer Service...,"[Full Time, On-site]"
2,Admin Assistant /Commercial Officer,Reliance Egypt,"New Cairo, Cairo, Egypt",Experienced · 2 - 4 Yrs of Exp · Administratio...,"[Full Time, On-site]"
3,Accountant / Business Developer - Fintech,Enwan,"Cairo, Egypt",Experienced · 2+ Yrs of Exp · Accounting/Finan...,"[Full Time, On-site]"
4,Report Developer Specialist,Energya Cables,"10th of Ramadan City, Cairo, Egypt",Experienced · 3 - 5 Yrs of Exp · IT/Software D...,"[Full Time, On-site]"
5,Projects Sales Specialist,El sewedy Trading,"New Cairo, Cairo, Egypt",Experienced · 1 - 3 Yrs of Exp · Sales/Retail ...,"[Full Time, On-site]"
...,...,...,...,...,...
176,Assistant HR Manager,AboZahra Developments,"Mahta Alraml, Alexandria, Egypt",Experienced · 4 - 5 Yrs of Exp · males_only · ...,"[Full Time, On-site]"
177,Retail Accountant - Night Shift,GlassQbe,"Cairo, Egypt",Experienced · 2 - 5 Yrs of Exp · Accounting/Fi...,"[Full Time, Shift Based, Work From Home, Remote]"
178,Medium Voltage Tender Engineer,Devash control system,"Mohandessin, Giza, Egypt",Experienced · 1 - 3 Yrs of Exp · Engineering -...,"[Full Time, On-site]"
179,General Accountant,World Trip Deal,"Dokki, Giza, Egypt",Experienced · 2 - 4 Yrs of Exp · Accounting/Fi...,"[Full Time, On-site]"
180,business management and human resources resear...,الناجح للخدمات والاستشارات التعليمية والطلابية,"Mokattam, Cairo, Egypt",Experienced · 2 - 20 Yrs of Exp · Writing/Edit...,"[Full Time, Hybrid]"

In [63]:
dff = df.explode('Tag')
# Réinitialiser l'index si nécessaire
dff = dff.reset_index(drop=True)
dff

,Job_title,Company,Location,Description,Tag
0,Retail Sales Representative - Sheraton,Obsession Boutique,"Sheraton, Cairo, Egypt",Experienced · 2+ Yrs of Exp · Customer Service...,Full Time
1,Retail Sales Representative - Sheraton,Obsession Boutique,"Sheraton, Cairo, Egypt",Experienced · 2+ Yrs of Exp · Customer Service...,On-site
2,Admin Assistant /Commercial Officer,Reliance Egypt,"New Cairo, Cairo, Egypt",Experienced · 2 - 4 Yrs of Exp · Administratio...,Full Time
3,Admin Assistant /Commercial Officer,Reliance Egypt,"New Cairo, Cairo, Egypt",Experienced · 2 - 4 Yrs of Exp · Administratio...,On-site
4,Accountant / Business Developer - Fintech,Enwan,"Cairo, Egypt",Experienced · 2+ Yrs of Exp · Accounting/Finan...,Full Time
...,...,...,...,...,...
326,Medium Voltage Tender Engineer,Devash control system,"Mohandessin, Giza, Egypt",Experienced · 1 - 3 Yrs of Exp · Engineering -...,On-site
327,General Accountant,World Trip Deal,"Dokki, Giza, Egypt",Experienced · 2 - 4 Yrs of Exp · Accounting/Fi...,Full Time
328,General Accountant,World Trip Deal,"Dokki, Giza, Egypt",Experienced · 2 - 4 Yrs of Exp · Accounting/Fi...,On-site
329,business management and human resources resear...,الناجح للخدمات والاستشارات التعليمية والطلابية,"Mokattam, Cairo, Egypt",Experienced · 2 - 20 Yrs of Exp · Writing/Edit...,Full Time
330,business management and human resources resear...,الناجح للخدمات والاستشارات التعليمية والطلابية,"Mokattam, Cairo, Egypt",Experienced · 2 - 20 Yrs of Exp · Writing/Edit...,Hybrid

In [64]:
def extract_location(location_str):
    elements = location_str.split(', ')
    if len(elements) == 3:
        return elements
    elif len(elements) == 2:
        return [None] + elements   # Ajouter None si la rue est manquante

In [65]:
# Appliquer la fonction à la colonne 'Location'
dff[['Street', 'City', 'Country']] = pd.DataFrame(dff['Location'].apply(extract_location).tolist(), index=dff.index)

# Supprimer la colonne 'Location' d'origine
dff = dff.drop('Location', axis=1)

In [66]:
dff

,Job_title,Company,Description,Tag,Street,City,Country
0,Retail Sales Representative - Sheraton,Obsession Boutique,Experienced · 2+ Yrs of Exp · Customer Service...,Full Time,Sheraton,Cairo,Egypt
1,Retail Sales Representative - Sheraton,Obsession Boutique,Experienced · 2+ Yrs of Exp · Customer Service...,On-site,Sheraton,Cairo,Egypt
2,Admin Assistant /Commercial Officer,Reliance Egypt,Experienced · 2 - 4 Yrs of Exp · Administratio...,Full Time,New Cairo,Cairo,Egypt
3,Admin Assistant /Commercial Officer,Reliance Egypt,Experienced · 2 - 4 Yrs of Exp · Administratio...,On-site,New Cairo,Cairo,Egypt
4,Accountant / Business Developer - Fintech,Enwan,Experienced · 2+ Yrs of Exp · Accounting/Finan...,Full Time,None,Cairo,Egypt
...,...,...,...,...,...,...,...
326,Medium Voltage Tender Engineer,Devash control system,Experienced · 1 - 3 Yrs of Exp · Engineering -...,On-site,Mohandessin,Giza,Egypt
327,General Accountant,World Trip Deal,Experienced · 2 - 4 Yrs of Exp · Accounting/Fi...,Full Time,Dokki,Giza,Egypt
328,General Accountant,World Trip Deal,Experienced · 2 - 4 Yrs of Exp · Accounting/Fi...,On-site,Dokki,Giza,Egypt
329,business management and human resources resear...,الناجح للخدمات والاستشارات التعليمية والطلابية,Experienced · 2 - 20 Yrs of Exp · Writing/Edit...,Full Time,Mokattam,Cairo,Egypt
330,business management and human resources resear...,الناجح للخدمات والاستشارات التعليمية والطلابية,Experienced · 2 - 20 Yrs of Exp · Writing/Edit...,Hybrid,Mokattam,Cairo,Egypt

Job_title       0
Company         0
Description     0
Tag             0
Street         98
City            0
Country         0
dtype: int64